.card-image{
    overflow: hidden;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card-image-container{
    height: 35%;
    width: 100%;
    background-color: yellow;
}

.event-card{
    background-color: #06392F;
    width: 20vw;
    border-radius: 8px;
    padding: 5px 10px;
    color: #FFFFFF;
    margin-inline: 10px;
}